body {
  color: #333;
  font-family: arial;
  background-color: #fefefe;
}

.main {
  width: 1000px;
  margin: 0 auto;
}

#smallimap {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(#fafaf5 60%, #f1f0dd);
  background-image: -moz-linear-gradient(#fafaf5 60%, #f1f0dd);
  background-image: -ms-linear-gradient(#fafaf5 60%, #f1f0dd);
  background-image: -o-linear-gradient(#fafaf5 60%, #f1f0dd);
  background-image: linear-gradient(#fafaf5 60%, #f1f0dd);
             
  padding: 5px;
}
#smallimap canvas {
  display: block;
}

.smallimap-mapicon {
  opacity: 0.7;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.smallimap-mapicon:hover {
  opacity: 1;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
  transform: scale(1.4);
}

#smallipop .sipContent {
  text-align: center;
}
