body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input, textarea, select {
  *font-size: 100%;
}

legend {
  color: #000;
}

body {
  color: #333;
  font-family: arial;
  background-color: #fefefe;
}

.main {
  padding: 50px 0;
  width: 1000px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

#smallimap {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(#fafaf5 60%, #f1f0dd);
  background-image: -moz-linear-gradient(#fafaf5 60%, #f1f0dd);
  background-image: -ms-linear-gradient(#fafaf5 60%, #f1f0dd);
  background-image: -o-linear-gradient(#fafaf5 60%, #f1f0dd);
  background-image: linear-gradient(#fafaf5 60%, #f1f0dd);
             
  padding: 5px;
}
#smallimap canvas {
  display: block;
}

#smallipop .sipContent .smallimap-icon-label {
  color: #666;
  font-style: italic;
  font-size: 13px;
}
#smallipop .sipContent .smallimap-icon-title {
  color: #888;
  font-weight: bold;
  font-size: 10px;
}
