body {
  background-color: #fefefe;
  color: #333;
  font-family: arial;
}

.main {
  width: 1000px;
  margin: 0 auto;
}

.smallimap-mapicon {
  opacity: 0.7;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.smallimap-mapicon:hover {
  opacity: 1;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
  transform: scale(1.4);
}
